absl-py
alabaster
apturl
asgiref
asn1crypto
astor
astroid
astunparse
attrs
autobahn
Automat
Babel
bcrypt
blinker
boto3
botocore
Brlapi
cachetools
certifi
cffi
channels
chardet
command-not-found
constantly
cryptography
cupshelpers
cycler
daphne
dbus-python
defer
distro
distro-info
Django
django-cors-headers
django-crontab
docutils
duplicity
entrypoints
fasteners
future
gast
gevent
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
httplib2
hyperlink
idna
imagesize
incremental
isort
Jinja2
jmespath
Keras-Preprocessing
keyring
keyrings.alt
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lazy-object-proxy
lockfile
louis
macaroonbakery
Mako
Markdown
MarkupSafe
matplotlib
mccabe
monotonic
netifaces
numpy
oauth
oauthlib
olefile
opencv-python
opt-einsum
packaging
pandas
paramiko
pbr
pexpect
Pillow
protobuf
psutil
pyasn1
pyasn1-modules
pycairo
pycparser
pycrypto
pycups
Pygments
PyGObject
PyHamcrest
PyJWT
pylint
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
reportlab
requests
requests-oauthlib
requests-unixsocket
roman
rsa
s3transfer
scipy
SecretStorage
simplejson
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
sqlparse
systemd-python
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
testresources
toml
Twisted
txaio
typed-ast
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator
wadllib
websocket
websocket-client
websocket-server
Werkzeug
wrapt
xkit
zope.interface

